################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/src/Web.Api/Data/Appointment-Scheduler.db
